<a href="javascript:void(0)" class="js-menu-trigger sliding-menu-button">
  <%= image_tag "menu.png" %>
</a>

<nav class="js-menu sliding-menu-content">
  <ul>
    <li><%= link_to "New", new_person_path %></li>
    <li><%= link_to "All", root_path %></li>

    <% if last = Person.last %>
      <li><%= link_to "Latest", person_path(last) %></li>
    <% end %>

    <% if random = Person.all.sample %>
      <li><%= link_to "Random!", person_path(random) %></li>
    <% end %>
  </ul>
</nav>

<div class="js-menu-screen menu-screen"></div>
